<template>
	<div class="search_field">
		<div class="container">
			<div class="col-md-6 col-md-push-3 col-sm-12">
				

				<div class="form-group has-primary has-feedback">
					<div class="input-group">
						<span class="input-group-addon">#</span>
						<input class="form-control" type="text" placeholder="Search on #Tag" v-model="tag" debounce="750" />
					</div>
				</div>

			</div>
		</div>
	</div>

	<div id="map"></div>
</template>


<script>
	var GoogleMapsLoader = require('google-maps');

	export default {
		data() {
			return {
				type_id: "",
				loading: false,
				tag: "",
				map: "",
				google: "",
				markers: []
			}
		},
		methods: {
			searchTag: function()
			{
				var vm = this;		
				vm.clearMap();

				//Data object maken voor de get call
				var data = {};
				data.paginate = 500;
				data.location = true;

				//Get call wordt uitgevoerd
				this.$http.get('http://socialmedia.shuch3n.com/tag/' + this.tag, data).then((response) => {
					//Forloop door alle opgehaalde data
					for (var i = 0; i < response.data.data.length; i++) {
						var marker_var = "marker_" + i;
						//Kaart marker voor googlemaps
						var marker_var = new vm.google.maps.Marker({
							position: new vm.google.maps.LatLng(response.data.data[i].latitude, response.data.data[i].longitude),
							map: vm.map,
							title: response.data.data[i].text,
							post_id: response.data.data[i].id
						});
						//Een evenlisten toevoegen aan de markers
						marker_var.addListener('click', function() {
							window.location.href = '/#!/post?id=' + this.post_id;
						});

						//Markers oplsaan in een array zodat ik later weer gemakkelijk kan verwijderen
						vm.markers.push(marker_var);
					}

				}, (response) => {
					// error callback
				});
			},
			clearMap: function()
			{
				var vm = this;
				//Markers worden geplaatst
				for (var i = 0; i < vm.markers.length; i++) {
					vm.markers[i].setMap(null);
				}

				vm.markers = [];
			}
		},
		watch: {
			//Wanneer iets wijzigd in de textveld
			'tag': function(){
				this.searchTag();
			}
		},
		ready() {
			var vm = this;
			//Google map init
			GoogleMapsLoader.load(function(google) {
				var el =  document.getElementById('map');
				var mapOptions = {
	                // How zoomed in you want the map to start at (always required)
	                zoom: 3,

	                // The latitude and longitude to center the map (always required)
	                center: new google.maps.LatLng(30.064352, -26.313597),

	                // How you would like to style the map. 
	                // This is where you would paste any style found on Snazzy Maps.
	                styles: [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2e5d4"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{"featureType":"road","elementType":"all","stylers":[{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]}]
	            };

	            vm.google = google;
				vm.map = new google.maps.Map(el, mapOptions);
			});
		}
	}
</script>