<template>
	<div class="container">
		<div class="col-md-5 text-center">
			<img :src="image" width="100%" /><br />
			<br />
			{{ text }}
		</div>
		<div class="col-md-7 text-center">
			<br />
			<br />
			<br />
			Boek ticket naar<br />
			<h1><a href="{{ ticket_link }}">{{ country }}</a></h1>
		</div>
	</div>
</template>


<script>
	export default {
		data() {
			return {
				post_id: this.$parent.$route.query.id,
				image: "http://epaper.inquilab.com/images/no_image_thumb.gif",
				text: "",
				country: "",
				country_short: "",
				ticket_link: ""
			}
		},
		methods: {
			getPost: function()
			{
				var vm = this;
				//Post details ophalen
				this.$http.get('http://socialmedia.shuch3n.com/post/' + this.post_id).then((response) => {
					this.image = "http://socialmedia.shuch3n.com/media/media/" + this.post_id;
					this.text = response.data.text;

					var country_data = vm.getCountry(response.data.latitude, response.data.longitude);

				}, (response) => {
					// error callback
				});
			},
			getCountry: function(latitude, longitude)
			{
				//Land informatie van coordinaten ophalen
				this.$http.get('http://maps.googleapis.com/maps/api/geocode/json?latlng=' + latitude + ',' + longitude).then((response) => {
					for (var i = 0; i < response.data.results[0].address_components.length; i++)
					{
						var shortname = response.data.results[0].address_components[i].short_name;
						var longname = response.data.results[0].address_components[i].long_name;
						var type = response.data.results[0].address_components[i].types;
						//Wanneer er een country index is
						if (type.indexOf("country") != -1)
						{
							if (!this.isNullOrWhitespace(longname))
							{
								var data = {};
								data.shortname = shortname
								data.longname = longname;
								//Propeties worden gezet.
								this.country = data.longname;
								this.ticket_link = "/#!/tickets?country=" + this.country + "&iso=" + shortname;

								return data;
							}
						}
					}
				}, (response) => {
					// error callback
				});
			},
			isNullOrWhitespace: function(input)
			{
				if (typeof input === 'undefined' || input == null) return true;
    			return input.replace(/\s/g, '').length < 1;
			}
		},
		ready() {
			//Deze functie afspelen wanneer de js volledig is geladen.
			this.getPost();
		}
	}
</script>