

<template>
	<div class="container">
		<div class="panel panel-info" v-for="ticket in tickets"> 
			<div class="panel-heading"> 
				<h3 class="panel-title">€ {{ ticket.MinPrice }}</h3> 
			</div> 
			<div class="panel-body"> 
				Direct: {{ ticket.Direct }}<br />
				Departure date: {{ ticket.OutboundLeg.DepartureDate }}<br />
				Return date: {{ ticket.InboundLeg.DepartureDate }}
			</div> 
		</div>

		<div class="panel panel-danger" v-if="tickets.length == 0"> 
			Geen Tickets gevonden probeer het nog eens.
		</div>

		<a class="btn btn-warning" v-link="{ path: '/' }">Opnieuw Beginnen</a>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				country: this.$parent.$route.query.country,
				iso: this.$parent.$route.query.iso,
				tickets: []
			}
		},
		methods: {
			getTickets: function()
			{
				var vm = this;
				var today = new Date();
				var return_date = new Date();
				return_date.setDate(return_date.getDate() + 14);
				//Ophalen van ticket, met de datum van vandaag en datum over twee weken.
				this.$http.get("http://socialmedia.shuch3n.com/skyscanner/ams/" + this.iso + "/" + this.getDate(today) + "/" + this.getDate(return_date)).then((response) => {
					this.tickets = response.data.Quotes;
				}, (response) => {
					// error callback
				});
			},
			getDate: function(inputDate)
			{
				var dd = inputDate.getDate();
				var mm = inputDate.getMonth()+1; //January is 0!
				var yyyy = inputDate.getFullYear();

				//een extra 0 plaatsen wanneer de dag onder 10 is
				if(dd<10) {
				    dd='0'+dd
				} 

				//een extra 0 plaatsen wanneer de maand onder 10 is
				if(mm<10) {
				    mm='0'+mm
				} 

				inputDate = yyyy + '-' + mm + '-' + dd;

				return inputDate;
			}
		},
		ready() {
			//Ophalen van tickets wanneer de app geladen is.
			this.getTickets();
		}
	}
</script>