*{
	margin: 0;
}
html, 
body {
    height: 100%;
}
#map{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.search_field{
	position: absolute;
	z-index: 99;
	width: 100%;
	padding-top: 50px;
}